body {
    margin: 0;
    padding: 0;
    background: #262626;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #c9f364;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: ball 2.5s linear infinite;
}
.ball:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    left: -65%;
    filter: blur(1px);
}
.ball:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    right: -65%;
    filter: blur(1px);
}
@keyframes ball {
    0% {
	transform: translate(-50%, -50%) translateX(-300px) translateY(-200px);
    }
    50% {
	transform: translate(-50%, -50%) translateX(0px) translateY(200px);
    }
    100% {
	transform: translate(-50%, -50%) translateX(300px) translateY(-200px);
    }
}
.shadow {
    position: absolute;
    width: 50px;
    height: 15px;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform: translate(-50%, 100%);
    overflow: hidden;
    filter: blur(2px);
    z-index: -1;
    animation: shadow 2.5s linear infinite;
}
@keyframes shadow {
    0% {
	transform: translate(-50%, 250px) translateX(-300px) scale(1);
    }
    50% {
	transform: translate(-50%, 250px) translateX(0px) scale(0.5);
    }
    100% {
	transform: translate(-50%, 250px) translateX(300px) scale(1);
    }
}

#braco {
    opacity: 1;
    fill: #0000ff;
    transform-origin: 95px 95px;
    animation: animateDescartes 2.5s linear infinite
}

@keyframes animateDescartes {
    0% {
	transform: translateX(0px) rotateZ(0deg);
    }
    20% {
	transform: translateX(0px) rotateZ(85deg);
    }
    50% {
	transform: translateX(0px) rotateZ(85deg);
    }
    75% {
	transform: translateX(0px) rotateZ(85deg);
    }
    100% {
	transform: translateX(0px) rotateZ(85deg);
    }
}
