body {
    background: #282A2C;
    width: 600px;
    height: 600px;
    margin: auto;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

div{
    position:absolute;
    width: 600px;
    height: 600px;
    background-image: url(./0.png);
    background-size: 15000px 9600px;
    background-position-x:0px;
    background-position-y:0px;
    animation: moveX 1s  steps(25) reverse infinite,
	       moveY 16s steps(16) reverse infinite;
}

@keyframes moveX{
    from{background-position-x:0px;}
    to{background-position-x:-15000px;}
}

@keyframes moveY{
    from{background-position-y:0px;}
    to{background-position-y:-9600px;}
}
