body {
    background: #282A2C;
    width: 70%;
    height: 70%;
    margin: auto;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    max-width: 600px;
}

.svgs {
    position:absolute;    
}

.circlest {
    stroke:#ff0000;
    stroke-width:4;
    opacity:0;
    animation: 7s animateCircleSt infinite;
}

.circle {
    fill:rgba(255,255,255,255);
    opacity:1;
}

.text {
    font-family: monospace;
    text-anchor: middle;
    dominant-baseline: middle;
    fill:rgb(255,255,255);
    opacity:0;
    animation: 7s animateText infinite;
}

@keyframes animateCircleSt {
    0% {
	opacity:1;
	stroke-opacity:0;
	fill-opacity:0;
    }
    30% {
	opacity:1;
	stroke-opacity: 1;
	fill-opacity:0;
    }
    50% {
	opacity:1;
	stroke-opacity: 0;
	fill-opacity:1;
    }
    90% {
	opacity:1;
	stroke-opacity: 0;
	fill-opacity:1;
    }
    100% {
	opacity:1;
	stroke-opacity: 0;
	fill-opacity:0;
    }
}

@keyframes animateText {
    0% {
	opacity: 0;
    }
    30% {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
    90% {
	opacity: 1;
    }
    100% {
	opacity: 0;
    }
}
